# dependencies
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Nuxt build
.nuxt

# Nuxt generate
dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store