@font-face {
  font-family: 'SpoilerHE';
  src:  url('../fonts/SpoilerHE/FbSpoiler-Lightwebfont.eot?huy4hx');
  src:  url('../fonts/SpoilerHE/FbSpoiler-Lightwebfont.eot?huy4hx#iefix') format('embedded-opentype'),
  url('../fonts/SpoilerHE/FbSpoiler-Lightwebfont.ttf?huy4hx') format('truetype'),
  url('../fonts/SpoilerHE/FbSpoiler-Lightwebfont.woff?huy4hx') format('woff'),
  url('../fonts/SpoilerHE/FbSpoiler-Lightwebfont.svg?huy4hx#icomoon') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SpoilerHE';
  src:  url('../fonts/SpoilerHE/fbspoilersp-regularwebfont.eot?huy4hx');
  src:  url('../fonts/SpoilerHE/fbspoilersp-regularwebfont.eot?huy4hx#iefix') format('embedded-opentype'),
  url('../fonts/SpoilerHE/fbspoilersp-regularwebfont.ttf?huy4hx') format('truetype'),
  url('../fonts/SpoilerHE/fbspoilersp-regularwebfont.woff?huy4hx') format('woff'),
  url('../fonts/SpoilerHE/fbspoilersp-regularwebfont.svg?huy4hx#icomoon') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SpoilerHE';
  src:  url('../fonts/SpoilerHE/fbspoileren-bold-webfont.eot?huy4hx');
  src:  url('../fonts/SpoilerHE/fbspoileren-bold-webfont.eot?huy4hx#iefix') format('embedded-opentype'),
  url('../fonts/SpoilerHE/fbspoileren-bold-webfont.ttf?huy4hx') format('truetype'),
  url('../fonts/SpoilerHE/fbspoileren-bold-webfont.woff?huy4hx') format('woff'),
  url('../fonts/SpoilerHE/fbspoileren-bold-webfont.svg?huy4hx#icomoon') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpoilerEN';
  src:  url('../fonts/SpoilerEN/enspoilerwebfont.eot?huy4hx');
  src:  url('../fonts/SpoilerEN/enspoilerwebfont.eot?huy4hx#iefix') format('embedded-opentype'),
  url('../fonts/SpoilerEN/enspoilerwebfont.ttf?huy4hx') format('truetype'),
  url('../fonts/SpoilerEN/enspoilerwebfont.woff?huy4hx') format('woff'),
  url('../fonts/SpoilerEN/enspoilerwebfont.svg?huy4hx#icomoon') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SpoilerEN';
  src:  url('../fonts/SpoilerEN/enspoilerwebfont.eot?huy4hx');
  src:  url('../fonts/SpoilerEN/enspoilerwebfont.eot?huy4hx#iefix') format('embedded-opentype'),
  url('../fonts/SpoilerEN/enspoilerwebfont.ttf?huy4hx') format('truetype'),
  url('../fonts/SpoilerEN/enspoilerwebfont.woff?huy4hx') format('woff'),
  url('../fonts/SpoilerEN/enspoilerwebfont.svg?huy4hx#icomoon') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SpoilerEN';
  src:  url('../fonts/SpoilerEN/enspoilerwebfont.eot?huy4hx');
  src:  url('../fonts/SpoilerEN/enspoilerwebfont.eot?huy4hx#iefix') format('embedded-opentype'),
  url('../fonts/SpoilerEN/enspoilerwebfont.ttf?huy4hx') format('truetype'),
  url('../fonts/SpoilerEN/enspoilerwebfont.woff?huy4hx') format('woff'),
  url('../fonts/SpoilerEN/enspoilerwebfont.svg?huy4hx#icomoon') format('svg');
  font-weight: 500;
  font-style: normal;
}